<header>
      <div class="heading-left"><!--ヘッダー-->
        <%= link_to '者 -モノ- 語り', root_path, class: "title-logo" %>
      </div>
      <div class="heading-right">
        <% if user_signed_in? %>
          <%= link_to 'モノ語り<br>出 口'.html_safe, destroy_user_session_path, data: {turbo_method: :delete}, class: "log-situation2" %>
          <%= link_to 'モノ語り<br>投 稿'.html_safe, new_story_path, class: "post-btn" %>
        <% else %>
          <%= link_to 'モノ語り<br>入 口'.html_safe, new_user_session_path, class: "log-situation1" %>
          <%= link_to '会   員<br>登 録'.html_safe, new_user_registration_path, class: "log-situation0" %>
        <% end %>
        <%= link_to '≡', "#", class: "menu-icon" %><!-- メニューアイコン入れる -->
      </div>
    </header>