<%= render "shared/header" %>
<div class="bookmark-main">

  <div class="bm-main-contents"><!-- ストーリー配置 -->
    <div class="bookmark-title">積読一覧</div>
    <% @bookmarked_stories.each do |story| %>
    <div class="bm-one-content">
      <div class="bm-index-story-item">
        <div class="bm-index-story-item1">
          <div class="bm-index-category-tag"><%= story.category.name %></div>
          <div class="bm-index-genre-tag"><%= story.genre.name %></div>
        </div>
        <div class="bm-index-story-item2">
          <div class="bm-index-character-count"> <%= "#{story.body.length}文字" %></div>
          <div class="bm-index-post-date"><%= story.created_at.strftime("%Y.%m.%d") %></div>
        </div>
      </div>
      <div class="bm-index-story-main">
        <div class="bm-story-title">
          <%= link_to story.title, story_path(story), class: "story-title-link" %>
        </div>
        <div class="bm-story-main-text"><%= truncate(story.body, length: 100) %></div>
      </div>
    </div>
    <% end %>
  </div>

</div>
<%= render "shared/footer" %>