<%= render "shared/header" %>
<div class="user-edit-main">

  <div class="edit-main-contents">

    <div class="profile-input-area">
      <%= form_with model: @user, local: true do |f| %>
        <div class="profile-title">ー　プロフィール編集𓂃 ✍︎　ー</div>
        <div class="profile-input">
          <label>
            <div class="profile-label-name">ニックネーム</div>
            <div><%= f.text_field :nickname, class:"edit-f-input-nickname" %></div>
          </label>
        </div>
        <div class="profile-input">
          <label>
            <div class="profile-label-name">プロフィール</div>
            <div><%= f.text_area :profile, class:"edit-f-input-text" %></div>
          </label>
        </div>
        <div class="update-confirm-area">
          <%= f.submit '更新する', name: "update-profile", class: "update-btn"%>
        </div>
      <% end %>
    </div>

  </div>

</div>
<%= render "shared/footer" %>