<%= render "shared/header" %>
<div class="follow-main">

  <div class="main-contents">
    <div class="user-name"><%= @user.nickname %> さん</div>
    <div class="followed">
      <div class="follow-title">＜＜ フォロー中 ＞＞</div>
      <% if @following.any? %>
        <div class="one-followed">
          <% @following.each do |followed| %>
            <div class="one-followed-box">
              <%= link_to followed.nickname, user_path(followed),class: "one-followed-link" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class='follow-info'>あなたがフォロー中したユーザーが表示されます</p>
      <% end %>
    </div>

    <div class="follower">
      <div class="follow-title">＞＞ フォロワー ＜＜</div>
       <% if @followers.any? %>
        <div class="one-follower">
          <% @followers.each do |follower| %>
            <div class="one-follower-box">
              <%= link_to follower.nickname, user_path(follower), class: "one-follower-link" %>
            </div>
          <% end %>
        </div>
        <% else %>
          <p class='follow-info'>あなたをフォローしたユーザーが表示されます</p>
        <% end %>
    </div>
  </div>

</div>
<%= render "shared/footer" %>