<%= render "shared/header" %>  <!-- ヘッダーを呼び出す -->
<div class="index-main"><!--固定 メイン領域(開始)-->

  <div class="categorybar">
    <ul class="category-lists">
          <li class="category-list">実話</li>
          <li class="category-list">創作</li>
          <li class="category-list">日常</li>
          <li class="category-list">人間関係</li>
          <li class="category-list">仕事勉強</li>
          <li class="category-list">ファンタジー</li>
          <li class="category-list">SF</li>
          <li class="category-list">恋愛</li>
    </ul>
  </div>

  <div class="index-contents">
    <% @stories.each do |story| %>
    <div class="one-content">
      <div class="index-story-item">
        <div class="index-story-item1">
          <div class="index-category-tag"><%= story.category.name %></div>
          <div class="index-genre-tag"><%= story.genre.name %></div>
        </div>
        <div class="index-story-item2">
          <div class="index-character-count"> <%= "#{story.body.length}文字" %></div>
          <div class="index-post-date"><%= story.created_at.strftime("%Y.%m.%d") %></div>
        </div>
      </div>
      <div class="index-story-main">
        <div class="story-title"><%= story.title %></div>
        <div class="story-main-text"><%= truncate(story.body, length: 100) %></div>
      </div>
    </div>
    <% end %>
  </div>

</div><!--固定 メイン領域(終了)-->
 <%= render "shared/footer" %>  <!-- フッターを呼び出す -->