<div class="main-view"><!--固定 メイン領域(開始)-->
  <div class="main-contents">
    <div class="sidebar">
      <div class="contributor-icon">🟢</div><!-- アイコン入れる -->
      <div class="contributor-name"><%= @story.user.nickname %>さんの投稿</div>
      <%= link_to 'トップページへ戻る', root_path, class: "return-top-page" %>
      <div class="reaction-content">
        <ul class="reaction-lists">リアクション
          <li class="riaction">涙</li>
          <li class="riaction">驚</li>
          <li class="riaction">笑</li>
          <li class="riaction">手</li>
        </ul>
      </div>
    </div>

    <div class="story-content">
      <div class="story-item1">
        <div class="category-tag"><%= @story.category.name %></div>
        <div class="genre-tag"><%= @story.genre.name %></div>
        <div class="show-character-count"> <%= "#{@story.body.length}文字" %></div>
        <div class="post-date"><%= @story.created_at.strftime("%Y.%m.%d") %></div>
        <% if user_signed_in? && current_user.id == @story.user_id %>
        <div class="detail">▽
          <ul class="detail_list">
            <li><%= link_to '編集', edit_story_path(@story.id), method: :get, class: "story-edit" %></li>
            <li><%= link_to '削除', root_path(@story.id), data: {turbo_method: :delete}, class:"story-destroy" %></li>
          </ul>
        <% end %>
        </div>
      </div>
      <div class="story-item2">
        <div class="show-story-title"><%= @story.title %></div>
        <div class="show-story-text"><%= @story.body %></div>
      </div>

      <div class="comment-content">
        <form class="comment-form">
          <input class="input-text" placeholder="コメントを入力" type="text">
          <input class="comment-submit-btn" type="submit" value="送信">
        </form>
        <div class="all-comments">
          ここにコメント一覧がくる
        </div>
      </div>
    </div>
  </div>

</div><!--固定 メイン領域(終了)-->