<%= render "shared/header" %>  <!-- ヘッダーを呼び出す -->
<div class="show-main"><!--固定 メイン領域(開始)-->

  <div class="main-contents">

    <div class="sidebar"><!-- サイドバー -->
      <div class="contributor-icon">🟢</div><!-- アイコン入れる -->
      <div class="contributor-name"><%= @story.user.nickname %>さんの投稿</div>
      <%= link_to 'トップページへ戻る', root_path, class: "return-top-page" %>
    </div>

    <div class="show-right-contents">

      <div class="show-story-content"><!-- ストーリー配置 -->
        <div class="show-story-item">
          <div class="show-story-item1">
            <div class="show-category-tag"><%= @story.category.name %></div>
            <div class="show-genre-tag"><%= @story.genre.name %></div>
          </div>
          <div class="show-story-item2">
            <div class="show-character-count"> <%= "#{@story.body.length}文字" %></div>
            <div class="show-post-date"><%= @story.created_at.strftime("%Y.%m.%d") %></div>
            <div class="detail">
              <% if user_signed_in? && current_user.id == @story.user_id %>
              <span class="toggle-detail">▽</span>
              <ul class="detail_list" style="display: none;">
                <li><%= link_to '編集', edit_story_path(@story.id), method: :get, class: "story-edit" %></li>
                <li><%= link_to '削除', story_path(@story.id), data: {turbo_method: :delete}, class:"story-destroy" %></li>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
        <div class="show-story-main">
          <div class="show-story-title"><%= @story.title %></div>
          <div class="show-story-text"><%= @story.body %></div>
        </div>
      </div>

      <div class="fun-content"><!-- リアクション欄 -->
        <div class="reaction-lists" data-story-id="<%= @story.id %>">
          <% reacted_kind = @story.reactions.find_by(user_id: current_user&.id)&.kind %>
          <% %w(涙 驚 笑 手).each do |kind| %>
            <div class="reaction <%= 'active' if kind == reacted_kind %>" data-kind="<%= kind %>">
              （<%= kind %>）
            </div>
          <% end %>
        </div>
        <div class="bookmark-content">
          <% if current_user.bookmarked_stories.exists?(@story.id) %>
            <%= button_to "積読解除", bookmark_path(id: @story.bookmarks.find_by(user_id: current_user.id).id), method: :delete %>
          <% else %>
            <%= button_to "積読する", bookmarks_path(story_id: @story.id), method: :post %>
          <% end %>
        </div>
      </div>

      <div class="comment-content"><!-- コメント欄 -->
        <%= form_with model: [@story, Comment.new], local: true, data: { turbo: false } do |f| %>
          <%= f.text_field :comment_box, class:"f-input-comment", id:"comment-input", placeholder:"コメントを入力" %>
          <%= f.submit "送信", name: "post-comment", class: "post-comment-btn" %>
        <% end %>
        <div class="all-comments"><!-- コメント一覧 -->
          <% @comments.each do |comment| %>
            <div class="one-comment"><!-- １つのコメント -->
              <div class="comment-user"><%= comment.user.nickname %>：<%= comment.comment_box %></div>
              <div  class="one-comment-info">
                <div class="comment-post-date"><%= comment.created_at.strftime("%Y.%m.%d") %></div>
                <% if user_signed_in? && current_user.id == comment.user_id %>
                <div class="comment-delete">
                  <span class="toggle-comment-delete">▽</span>
                  <ul class=comment-action-list style="display: none;">
                    <li><%= link_to '削除', story_comment_path(@story, comment), data: {turbo_method: :delete}, class:"comment-destroy" %></li>
                  </ul>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>

</div><!--固定 メイン領域(終了)-->
<%= render "shared/footer" %>  <!-- フッターを呼び出す -->