<%= render "shared/header" %>  <!-- ãƒ˜ãƒƒãƒ€ãƒ¼ã‚’å‘¼ã³å‡ºã™ -->
<div class="group-main">

  <div class="group-bar">
    <ul class="group-lists">
      <% @categories.each do |category| %>
        <% next if category.id == 1 %>
        <li class="category-list">
          <%= link_to category.name, category_path(category.id), class: "category-link" %>
        </li>
      <% end %>
      <% @genres.each do |genre| %>
        <% next if genre.id == 1 %>
        <li class="genre-list">
          <%= link_to genre.name, genre_path(genre.id), class: "genre-link" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="index-main-contents">
    <div class="group-title">ðŸ“œ<%= @category.name %>ä¸€è¦§</div>

    <% @stories.each do |story| %>
    <div class="one-content">
      <div class="index-story-item">
        <div class="index-story-item1">
          <div class="index-category-tag"><%= story.category.name %></div>
          <div class="index-genre-tag"><%= story.genre.name %></div>
        </div>
        <div class="index-story-item2">
          <div class="index-character-count"> <%= "#{story.body.length}æ–‡å­—" %></div>
          <div class="index-post-date"><%= story.created_at.strftime("%Y.%m.%d") %></div>
        </div>
      </div>
      <div class="index-story-main">
        <div class="story-title">
          <%= link_to story.title, story_path(story), class: "story-title-link" %>
        </div>
        <div class="story-main-text"><%= truncate(story.body, length: 100) %></div>
      </div>
    </div>
    <% end %>
  </div>

</div>
 <%= render "shared/footer" %>  <!-- ãƒ•ãƒƒã‚¿ãƒ¼ã‚’å‘¼ã³å‡ºã™ -->